# Ignore latex output files
.DS_Store
*log
*pdf
*.gz
*.aux
*.out
.*.swp
*bbl
*blg

# Ignore conda env dir
env

# Ignore jupyter checkpoints
.ipynb_checkpoints/

# Ignore converted data files in clean dir
clean/*
